## Data Preparation

In [1]:
import pandas as pd
import numpy as np
from pandas.io.json import json_normalize
from pymongo import MongoClient
import json, re
from re import sub
from decimal import Decimal
import dask.dataframe as dd
from dask.distributed import Client, progress
import dask.dataframe as dd
from dask.delayed import delayed

### Dask Client

In [2]:
client = Client(n_workers=4, threads_per_worker=1)
client

### Database Connection

In [3]:
DB_USER = 'anutibara'
DB_PASS = 'anutibara'
DB_HOST = 'scraping-cluster-7dtgt.gcp.mongodb.net'
DB_NAME = 'scraping_db'

try:
    client = MongoClient(f'mongodb+srv://{DB_USER}:{DB_PASS}@{DB_HOST}/{DB_NAME}')
    print("Database connected successfully")
except Exception as e:
    print("Error to connect to database: ", e)
db = client.get_database(DB_NAME)
properties = db.properties

Database connected successfully

### Database Queries

In [4]:
properties.count_documents({})

14209

### Convert Mongo Collection to DataFrame

#### New Properties

In [5]:
new_properties_json = list(properties.find({ 'use': 'Nuevo' }))

In [130]:
df_general_info = json_normalize(new_properties_json, record_path='offersType', 
                                meta=['_id', 
                                    'urlProperty',
                                    'scrapingDate', 
                                    'scrapingHour', 
                                    'modifyDate',
                                    'modifyHour', 
                                    'code', 
                                    'status', 
                                    'type', 
                                    'use', 
                                    'nameProject', 
                                    'description'])
ddf_general_info = dd.from_pandas(df_general_info, npartitions=200)

In [131]:
df_location = json_normalize(new_properties_json, record_path='location', meta='urlProperty')
ddf_location = dd.from_pandas(df_location, npartitions=200)

In [132]:
ddf_1 = ddf_general_info.merge(ddf_location, on='urlProperty', how='outer')

In [133]:
df_owner_property = json_normalize(new_properties_json, record_path='ownerProperty', meta='urlProperty')
ddf_owner_property = dd.from_pandas(df_owner_property, npartitions=200)

In [134]:
ddf_2 = dd.concat([ddf_general_info, ddf_owner_property], axis=1, join='inner')
ddf_2 = ddf_2.loc[:,~ddf_2.columns.duplicated(keep='first')]

In [135]:
df_features = json_normalize(new_properties_json, record_path='features', meta='urlProperty')
ddf_features = dd.from_pandas(df_features, npartitions=200)

In [136]:
ddf_features = ddf_features.rename(columns={
    'price':'range_prices',
    'rooms': 'general_rooms',
    'bathrooms': 'general_bathrooms',
    'privateArea': 'range_private_area'
})

In [137]:
ddf_3 = dd.concat([ddf_general_info, ddf_features], axis=1, join='inner')
ddf_3 = ddf_3.loc[:,~ddf_3.columns.duplicated(keep='first')]

In [138]:
df_more_features = json_normalize(new_properties_json, record_path='moreFeatures', meta='urlProperty')
ddf_more_features = dd.from_pandas(df_more_features, npartitions=200)

In [139]:
ddf_4 = dd.concat([ddf_general_info, ddf_more_features], axis=1, join='inner')
ddf_4 = ddf_4.loc[:,~ddf_4.columns.duplicated(keep='first')]

In [140]:
ddf_1 = ddf_1.repartition(npartitions=200)

In [141]:
ddf_2 = ddf_2.repartition(npartitions=200)

In [142]:
ddf_3 = ddf_3.repartition(npartitions=200)

In [143]:
ddf_4 = ddf_4.repartition(npartitions=200)

In [148]:
ddf = dd.concat([ddf_1, ddf_2, ddf_3, ddf_4], axis=1, join='inner')
ddf_new_properties = ddf.loc[:,~ddf.columns.duplicated(keep='first')]

ValueError: Unable to concatenate DataFrame with unknown division specifying axis=1

In [145]:
ddf_new_properties = ddf_new_properties.dropna()

In [146]:
len(ddf_new_properties)

4512

#### Old Properties

In [79]:
old_properties_json = list(properties.find({ 'use': 'Usado' }))

In [80]:
df_general_info = pd.DataFrame(old_properties_json, 
                                    columns=['_id', 
                                    'urlProperty', 
                                    'scrapingDate', 
                                    'scrapingHour', 
                                    'modifyDate',
                                    'modifyHour', 
                                    'code', 
                                    'status', 
                                    'type', 
                                    'use', 
                                    'nameProject', 
                                    'description'])
ddf_general_info = dd.from_pandas(df_general_info, npartitions=10)

In [81]:
df_location = json_normalize(old_properties_json, 'location')
ddf_location = dd.from_pandas(df_location, npartitions=10)

In [82]:
df_owner_property = json_normalize(old_properties_json, 'ownerProperty')
ddf_owner_property = dd.from_pandas(df_owner_property, npartitions=10)

In [83]:
df_features = json_normalize(old_properties_json, 'features')
ddf_features = dd.from_pandas(df_features, npartitions=10)

In [84]:
df_more_features = json_normalize(old_properties_json, 'moreFeatures')
ddf_more_features = dd.from_pandas(df_more_features, npartitions=10)

In [85]:
ddf_list = [ddf_general_info, ddf_location, ddf_owner_property, ddf_features, ddf_more_features]
ddf = dd.concat(ddf_list, axis=1)
ddf.reset_index()

Dask DataFrame Structure:
                index     _id urlProperty scrapingDate scrapingHour modifyDate modifyHour   code  status    type     use nameProject description country department    city  sector neighborhood address latitude longitude     id    name contractType financing schedule   price squareMeters  rooms bathrooms garages privateArea constructionArea squareMetersPrice stratum condition antiquity   floor interiorFloors weather includesAdministration admonPrice interiorFeatures exteriorFeatures sectorFeatures
npartitions=20
                int64  object      object       object       object     object     object  int64  object  object  object      object      object  object     object  object  object       object  object  float64   float64  int64  object       object    object   object  object       object  int64     int64  object      object           object           float64  object    object    object  object          int64  object                 object    float64           object           object         object
                  ...     ...         ...          ...          ...        ...        ...    ...     ...     ...     ...         ...         ...     ...        ...     ...     ...          ...     ...      ...       ...    ...     ...          ...       ...      ...     ...          ...    ...       ...     ...         ...              ...               ...     ...       ...       ...     ...            ...     ...                    ...        ...              ...              ...            ...
...               ...     ...         ...          ...          ...        ...        ...    ...     ...     ...     ...         ...         ...     ...        ...     ...     ...          ...     ...      ...       ...    ...     ...          ...       ...      ...     ...          ...    ...       ...     ...         ...              ...               ...     ...       ...       ...     ...            ...     ...                    ...        ...              ...              ...            ...
                  ...     ...         ...          ...          ...        ...        ...    ...     ...     ...     ...         ...         ...     ...        ...     ...     ...          ...     ...      ...       ...    ...     ...          ...       ...      ...     ...          ...    ...       ...     ...         ...              ...               ...     ...       ...       ...     ...            ...     ...                    ...        ...              ...              ...            ...
                  ...     ...         ...          ...          ...        ...        ...    ...     ...     ...     ...         ...         ...     ...        ...     ...     ...          ...     ...      ...       ...    ...     ...          ...       ...      ...     ...          ...    ...       ...     ...         ...              ...               ...     ...       ...       ...     ...            ...     ...                    ...        ...              ...              ...            ...
Dask Name: reset_index, 290 tasks

In [86]:
ddf_old_properties = ddf.loc[:,~ddf.columns.duplicated()]

### Rename DataFrame Columns

#### New Properties

In [24]:
ddf_new_properties = ddf_new_properties.rename(columns={
                        "_id": "id_mongoose", 
                        "urlProperty":"id_property",
                        "scrapingDate": "scraping_date",
                        "scrapingHour": "scraping_hour",
                        "modifyDate": "modify_date",
                        "modifyHour": "modify_hour",
                        "status": "active",
                        "use": "new_property",
                        "nameProject": "name_project",
                        "offersType": "offers_type",
                        "id": "id_owner_property",
                        "name": "name_owner_property",
                        "contractType": "contract_type_owner_property",
                        "financing": "financing_owner_property",
                        "schedule": "schedule_owner_property",
                        "squareMeters": "range_square_meters",
                        "constructionArea": "range_construction_area",
                        "squareMetersPrice": "square_meters_price",
                        "interiorFloors": "interior_floors",
                        "includesAdministration": "includes_administration",
                        "admonPrice": "admon_price",
                        "interiorFeatures": "interior_features",
                        "exteriorFeatures": "exterior_features",
                        "sectorFeatures": "sector_features",
                        "offerType": "offer_type",
                        "privateArea": "private_area"
})

#### Old Properties

In [88]:
ddf_old_properties = ddf_old_properties.rename(columns={
                        "_id": "id_mongoose", 
                        "urlProperty":"id_property",
                        "scrapingDate": "scraping_date",
                        "scrapingHour": "scraping_hour",
                        "modifyDate": "modify_date",
                        "modifyHour": "modify_hour",
                        "status": "active",
                        "use": "new_property",
                        "nameProject": "name_project",
                        "offersType": "offers_type",
                        "id": "id_owner_property",
                        "name": "name_owner_property",
                        "contractType": "contract_type_owner_property",
                        "financing": "financing_owner_property",
                        "schedule": "schedule_owner_property",
                        "squareMeters": "square_meters",
                        "privateArea": "private_area",
                        "constructionArea": "construction_area",
                        "squareMetersPrice": "square_meters_price",
                        "interiorFloors": "interior_floors",
                        "includesAdministration": "includes_administration",
                        "admonPrice": "admon_price",
                        "interiorFeatures": "interior_features",
                        "exteriorFeatures": "exterior_features",
                        "sectorFeatures": "sector_features"
})

### Data Cleaning

#### New Properties

In [25]:
ddf_new_properties['id_mongoose'] = ddf_new_properties['id_mongoose'].astype(str)
ddf_new_properties['code'] = ddf_new_properties['code'].astype(int)
ddf_new_properties['active'] = ddf_new_properties['active'].apply(lambda status: True if (status == 'Active') else False, meta=('active', 'bool'))
ddf_new_properties['new_property'] = ddf_new_properties['new_property'].apply(lambda status: True if (status == 'Nuevo') else False, meta=('new_property', 'bool'))
ddf_new_properties['includes_administration'] = ddf_new_properties['includes_administration'].apply(lambda status: True if (status == 'Nuevo') else False, meta=('includes_administration', 'bool'))
ddf_new_properties['garages'] = ddf_new_properties['garages'].replace('', value = 0, regex = True).astype(int)
ddf_new_properties['stratum'] = ddf_new_properties['stratum'].replace('', value = 0, regex = True).astype(int)
ddf_new_properties['floor'] = ddf_new_properties['floor'].astype(int)
ddf_new_properties['area'] = ddf_new_properties['area'].astype(float)
ddf_new_properties['private_area'] = ddf_new_properties['private_area'].replace('', value = 0, regex = True)
ddf_new_properties['private_area'] = ddf_new_properties['private_area'].astype(float)
ddf_new_properties['rooms'] = ddf_new_properties['rooms'].astype(int)
ddf_new_properties['bathrooms'] = ddf_new_properties['bathrooms'].astype(int)
ddf_new_properties['price'] = ddf_new_properties['price'].apply(lambda price: Decimal(sub(r'[^\d,]', '', price)), meta=('price', 'int'))
ddf_new_properties['price'] = ddf_new_properties['price'].astype(int)

#### Old Properties

In [90]:
ddf_old_properties['id_mongoose'] = ddf_old_properties['id_mongoose'].astype(str)
ddf_old_properties['code'] = ddf_old_properties['code'].astype(int)
ddf_old_properties['active'] = ddf_old_properties['active'].apply(lambda status: True if (status == 'Active') else False, meta=('active', 'bool'))
ddf_old_properties['new_property'] = ddf_old_properties['new_property'].apply(lambda status: True if (status == 'Nuevo') else False, meta=('new_property', 'bool'))
ddf_old_properties['includes_administration'] = ddf_old_properties['includes_administration'].apply(lambda status: True if (status == 'Nuevo') else False, meta=('includes_administration', 'bool'))
ddf_old_properties['garages'] = ddf_old_properties['garages'].replace('', value = 0, regex = True)
ddf_old_properties['garages'] = ddf_old_properties['garages'].replace('MÃ¡s de 10', value = 0, regex = True)
ddf_old_properties['garages'] = ddf_old_properties['garages'].astype(int)
ddf_old_properties['stratum'] = ddf_old_properties['stratum'].replace('', value = 0, regex = True)
ddf_old_properties['stratum'] = ddf_old_properties['stratum'].replace('Campestre', value = 0, regex = True)
ddf_old_properties['stratum'] = ddf_old_properties['stratum'].astype(int)
ddf_old_properties['price'] = ddf_old_properties['price'].apply(lambda price: Decimal(sub(r'[^\d,]', '', price)), meta=('price', 'int'))
ddf_old_properties['price'] = ddf_old_properties['price'].astype(int)
ddf_old_properties['square_meters'] = ddf_old_properties['square_meters'].str[0:-3]
ddf_old_properties['square_meters'] = ddf_old_properties['square_meters'].apply(lambda meters: Decimal(sub(r'[^\d,]', '', meters)), meta=('square_meters', 'float'))
ddf_old_properties['square_meters'] = ddf_old_properties['square_meters'].astype(float)
ddf_old_properties['private_area'] = ddf_old_properties['private_area'].str[0:-2]
ddf_old_properties['private_area'] = ddf_old_properties['private_area'].replace('', value = '0', regex = True)
ddf_old_properties['private_area'] = ddf_old_properties['private_area'].apply(lambda area: Decimal(sub(r'[^\d.]', '', area)), meta=('private_area', 'float'))
ddf_old_properties['private_area'] = ddf_old_properties['private_area'].astype(float)
ddf_old_properties['construction_area'] = ddf_old_properties['construction_area'].str[0:-3]
ddf_old_properties['construction_area'] = ddf_old_properties['construction_area'].apply(lambda area: Decimal(sub(r'[^\d,]', '', area)), meta=('construction_area', 'float'))
ddf_old_properties['construction_area'] = ddf_old_properties['construction_area'].astype(float)
ddf_old_properties['floor'] = ddf_old_properties['floor'].astype(int)

### Testing

#### New Properties

In [ ]:
ddf_new_properties.head(10)

#### Old Properties

In [92]:
ddf_old_properties.describe().head(10)

,code,latitude,longitude,id_owner_property,price,square_meters,rooms,bathrooms,garages,private_area,construction_area,square_meters_price,stratum,floor,interior_floors,admon_price
count,9.695000e+03,9695.000000,9695.000000,9.695000e+03,9.695000e+03,9695.000000,9695.000000,9695.000000,9695.000000,9695.000000,9695.000000,9.695000e+03,9695.000000,9695.000000,9695.000000,9.695000e+03
mean,4.687646e+06,5.186471,-62.809221,6.277525e+05,1.568107e+09,326.020835,2.942238,2.717690,1.100155,95.362955,326.020835,9.317325e+07,4.701702,3.357710,0.031150,8.017401e+05
std,5.251392e+05,2.553210,28.510192,5.522708e+05,5.273308e+10,3956.851533,1.679856,1.734381,1.171658,119.438988,3956.851533,8.131541e+09,1.301129,5.120293,0.263013,2.081056e+07
min,1.783039e+06,-22.735910,-98.206558,5.260000e+02,1.900000e+06,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.111110e+03,0.000000,0.000000,0.000000,0.000000e+00
25%,4.808873e+06,6.201599,-75.582335,3.455800e+05,3.500000e+08,85.000000,3.000000,2.000000,0.000000,0.000000,85.000000,3.229864e+06,4.000000,0.000000,0.000000,0.000000e+00
50%,4.950364e+06,6.219785,-75.566360,5.051510e+05,5.427200e+08,129.000000,3.000000,3.000000,1.000000,93.000000,129.000000,4.059028e+06,5.000000,1.500000,0.000000,1.985000e+05
75%,5.018642e+06,6.245900,0.000000,1.178183e+06,8.837500e+08,226.000000,4.000000,4.000000,2.000000,176.500000,226.000000,5.460599e+06,6.000000,7.000000,0.000000,4.275000e+05
max,5.047436e+06,65.421509,227.812500,1.833631e+06,4.600000e+12,280000.000000,47.000000,48.000000,10.000000,995.000000,280000.000000,8.000000e+11,6.000000,18.000000,5.000000,1.200000e+09